/*----------------general----------------*/
html {
   background: #2f3542;                               /* couleur de fond */
   font-family:  ‘Lato’,‘Arial’, sans-serif;       /* police de caractère */
   font-weight : 300;                              /* épaisseur de la police */
   font-size: 20px;                                /* taille de la police */
   color: #555;                                    /* couleur de la police */
   text-rendering: optimizeLegibility;             /*  /// Voir PDF */
}

header {
background-image: linear-gradient(rgba(25, 127, 40, 0.5), rgba(49, 255, 81, 0.3)), url(img/newyork.jpg); /* Ajout background et filtre */
height: 100vh;
background-size: cover;
background-position: center;

}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.text-box {
  position: absolute;  /* positionne l’élément suivant les coordonnées top et left /// Voir PDF */
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);  /* Elle permet d’effectuer une translation (un déplacement) de l’élément sur les axes X et Y. /// Voir PDF */
  width: 1140px;
}

/*-------logo------*/
.logo2{
  height: 100px;
  float: left;
  margin-top: 30px;
}
/*-------menu navigation------*/
.menu-navi{
  list-style: none;
  float: right;
  margin-top: 30px;
}
.menu-navi li{
display: inline-block;
margin-left: 40px;
text-transform: uppercase;
}
.menu-navi li  a{
  text-decoration: none;
  color: #fff;
  font-size: 90%;
}
/*---------bouton-------*/
.btn{
  padding:  10px  30px;
  border: 1px  solid #fff;
  boder-radius: 50px;
  font-weight: 100;
}
.btn-hover{
  border: 1px solid pink;
}
.btn-full{
  background-color: red;
  color:pink
}
.btn-ghost{
  color: pink;
}
.btn-ghost:hover{
  background-color: black;
}
/*----------bouton fin------*/
